name: Deploy to EC2

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Copy code to EC2
        uses: appleboy/scp-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          source: "./"
          target: "/home/ubuntu/app"

      - name: Deploy on EC2
        uses: appleboy/ssh-action@v0.1.7
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ubuntu
          key: ${{ secrets.SSH_KEY }}
          script: |
            set -e

            cd /home/ubuntu/app

            sudo apt update -y
            sudo apt install -y python3 python3-pip python3-venv

            # Create venv if not exists
            if [ ! -d "venv" ]; then
              python3 -m venv venv
            fi

            source venv/bin/activate

            pip install --upgrade pip
            pip install -r requirements.txt

            # Copy systemd service file
            sudo cp flask.service /etc/systemd/system/flask.service

            # Set correct permissions for systemd file
            sudo chmod 644 /etc/systemd/system/flask.service

            # Reload systemd to apply new/updated service file
            sudo systemctl daemon-reload

            # Start on boot
            sudo systemctl enable flask

            # Restart service
            sudo systemctl restart flask

            # Show status (prints logs in GitHub Actions)
            sudo systemctl status flask --no-pager
